.env
.venv/
__pycache__/
.pytest_cache/
node_modules/
*.pyc

# Ignore directories anywhere in the repository
.claude/
.agents/
.VSCodeCounter/
.vscode/
evaluation/jobs/
__pycache__/
embedding_model/*
test.py
.codex
.gem-code
